.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    //height: 90vh;
    justify-content: space-around;

    h2 {
        width: 90vw;
        letter-spacing: 2.5px;
    }

    p {
        width: 80vw;
        margin-bottom: 0;
    }

    .card-map {
        height: 60vh;

        #map {
            height: 100%;
            width: 90vw;
            @include maxwidthcontainer;
        }
    }
}