.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    justify-content: space-around;

    .card-map {
        height: 60vh;

        #map {
            height: 100%;
            width: 90vw;
            @include maxwidthcontainer;
        }
    }
}