.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    //height: 90vh;
    justify-content: space-around;
    @include maxwidthcontainer;

    @include tablet {
        width: 80vw;
        margin: auto;
        align-items: start;
    }

    @include desktop {
        //width: 50vw;
        margin: auto;
        align-items: start;
    }

    h2 {
        width: 90vw;
        letter-spacing: 2.5px;

        @include tablet {
            width: 80vw;
        }
    
        @include desktop {
            width: 50vw;
        }
    }

    p {
        margin-bottom: 0;

        &.left {
            width: 80vw;
        }
    }

    .card-map {
        height: 65vh;
        margin: $default_margin 0;

        #map {
            height: 100%;
            width: 90vw;
            @include maxwidthcontainer;

            @include tablet {
                width: 80vw;
            }
        }
    }

    .task_format {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 
        align-content: center;
        min-height: 70vh;

        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
        }
        
        @include desktop {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .btn {
            white-space: nowrap;
            padding: 1.5*$default_padding $default_padding;
            margin: 0.5*$default_margin $default_margin;

            @include tablet {
                width: 30vw;
            }
    
            @include desktop {
                width: 30vw;
                align-self: center;
            }
        }
    }
}