.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @include maxwidthcontainer;

    @include tablet {
        width: 80vw;
        margin: auto;
    }

    @include desktop {
        margin: auto;
    }

    h2 {
        width: 100%;
        letter-spacing: 2.5px;
        margin-bottom: $default_margin;
    }

    .left{
        margin-bottom: 0;
        align-self: flex-start;

        @include mobile {
            margin-left: $default_margin/2;
        }
    }

    .hint {
        margin-bottom: 0;
        align-self: flex-start;
    }

    .congrats {
        align-self: flex-start;
        margin-bottom: 2*$default_margin;
    }

    form {
        width: 100%;
    }

    .card-map {
        height: 65vh;
        margin: $default_margin 0;

        #map {
            height: 100%;
            width: 90vw;
            @include maxwidthcontainer;

            @include tablet {
                width: 80vw;
            }
        }
    }

    .task_format {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 
        align-content: center;
        min-height: 70vh;

        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
        }
        
        @include desktop {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .btn {
            white-space: nowrap;
            padding: 1.5*$default_padding $default_padding;
            margin: 0.5*$default_margin $default_margin;

            @include tablet {
                width: 30vw;
            }
    
            @include desktop {
                width: 30vw;
                align-self: center;
            }
        }
    }
}