main {
    padding:  $default_padding/2;
    transition: padding 0.2s ease-in;
    padding-top: 70px;

    @include tablet {
        padding: $default_padding;
        padding-top: 80px;
    }

    @include desktop {
        padding: $default_padding $default_padding*2;
        padding-top: 80px;
    }

    #map {
        height: 40vh;
        max-width: 1000px;
        width: 100%;
        margin-top: 10px;
        z-index: 1;

        @include tablet {
            height: 50vh; 
        }

        @include desktop {
            height: 50vh;

            @include maxwidthcontainer;
        }
    }

    .player_avatar {
        display: flex;
        justify-content: center;

        img {
            width: 120px;
            border-radius: 50%;
        }
    }
}