body {
    padding:  $default_padding/2;
    transition: padding 0.2s ease-in;

    @include tablet {
        padding: $default_padding;
    }

    @include desktop {
        padding: $default_padding $default_padding*2;
    }

    #map {
        width: 90vw;
        height: 40vh;
        max-width: 500px;
    }
}