.nav {
    background-color: $primaryColor;
    color: $white;
    height: 60px;
    display: flex;
    z-index: 5;
    position: fixed;
    padding: 0 20px;

    @include mobile {
        padding-left: ($default_padding)/2;
    }

    .nav_header {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100vw;

        .logo_link {
            svg {
                width: 50px;
                height: 40px;

                @include tablet {
                    width: 55px;
                    height: 60px;
                }

                @include desktop {
                    width: 65px;
                    height: 60px;
                }
            }
        }

        .back-arrow_link {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 5px;

            svg {
                height: 20px;
    
                @include tablet {
                    height: 23px;
                }

                @include desktop {
                    height: 28px;
                    margin-right: 8px;
                }
            }
        }

        .nav_header_left {
            display: flex;
            flex-direction: row;

            .nav_header_title {
                font-size: 1.3rem;
                white-space: nowrap;

                @include tablet {
                    font-size: 1.4rem;
                }

                @include desktop {
                    font-size: 1.5rem;
                }
            }
        }

        .nav_header_right {
            display: flex;
            align-items: center;
            padding-right: 3*$default_padding;

            a {
                color: $white;
                font-size: 1.2rem;
            }

            svg {
                margin-left: 5px;
                height: 20px;
            }

            @include mobile {
                padding-right: 1.5*$default_padding;
            }
        }
    }
}