<% content_for :nav do %>
  <%= render partial: 'layouts/nav_with_back', locals: {title: "Player"} %>
<% end %>

<h2>Player bearbeiten</h2>

<%= render 'form', locals: { player: @player, title: "Player bearbeiten" } %>