<% content_for :nav do %>
  <%= render partial: 'layouts/nav_with_back', locals: {title: "Create Player", link: "/"} %>
<% end %>

<div class="card">
  <h2>Create Player</h2>

  <%= render 'form', locals:{ player: @player } %>
</div>