//--------- MEDIA QUERY MIXINS ----------
@mixin desktop {
    @media (min-width: 1100px) {
      @content;
    }
  }
  
  @mixin mobile-landscape {
    @media (max-height: 500px) {
      @content;
    }
  }

  @mixin tablet {
    @media (min-width: 540px) and (max-width: 1100px){
      @content;
    }
  }

  
  @mixin mobile {
    @media (max-width: 540px) {
      @content;
    }
  }
  
  @mixin hidden {
    display: none;
    visibility: hidden;
  }

  @mixin maxwidthcontainer {
    max-width: 20rem;
  }
