//fonts
$roboto: 'Roboto';
$inconsolata: 'Inconsolata';

//colors
$white: #ffffff;
$grey: #707070;
$backgroundColor: #eeece8;
$cardBackground: #d8d4cc;
$green: #8ea260;
$brown: #7f6042;

//margin
$default_margin: 1rem;

//padding
$default_padding: 1rem;
$borderradius: 12px;
