//fonts
$roboto: 'Roboto';
$inconsolata: 'Inconsolata';

//colors
$white: #ffffff;
$backgroundColor: #eeece8;
$backgroundColor2: #d8d4cc;
$primaryColor: #8ea260;
$secondaryColor: #707070;
$accentColor: #e49871;

//margin
$default_margin: 1rem;

//padding
$default_padding: 1rem;
$borderradius: 12px;
