<% content_for :nav do %>
  <%= render partial: 'layouts/nav_with_back', locals: {title: "New Task", link: "/routes/#{@route.id}"} %>
<% end %>
<div class="card">
  <h2>Choose task format</h2>
    <div class="task-format">
        <% GameTask.available_types.each.with_index do |type, index| %>
        <%= link_to url_for([@route, :game_tasks, { type: type[:class] }]), class: 'btn', data: { method: :get } do %>
            <%= type[:name] %>
        <% end %>
        <% end %>
    </div>
</div>