<div class="card">
    <div class="card-nav"> 
        <h3 class="card-nav_element card-nav_element--active"><%= link_to_unless_current "Karte", map_route_path %></h3>
        <h3 class="card-nav_element"><%= link_to_unless_current "Aufgaben", route_path %></h3>
    </div>

    <div class="card-map">
        <%= map(:center => {
            :latlng => [@route.latitude, @route.longitude],
            :zoom => 5
        },
        # :markers => [
            #     {
                #       :latlng => [@route.latitude, @route.longitude]
        #     }
        #   ]
        ) %>
    </div>
    <%= link_to 'Start', start_route_path(@route),  {params: {"route"=>{ route_id: @route.id }}, class: 'btn' } %>
</div>