<div class="card">
    <p><%= route.game_tasks.size %> Aufgaben gesamt</p>
    
    <% if route.game_tasks.empty? %>
        <div class="card-tasks">
            <p> Du hast noch keine Aufgaben erstellt... go wild und erstelle eine </p>
        </div>
    <% else %>  
        <div class="card-tasks">
            <h3>Deine erstellten Aufgaben</h3>  
            <ul class="card-tasks_list">
                <% route.game_tasks.each do | task | %>
                    <div class="task">
                        <div class="task-header"> <p class="task-name"><strong><%= task.name %></strong></p> <p> Edit </p> </div>
                        <p class="task-description"><%= task.description %></p>
                    </div>
                <% end %>
            </ul>
        </div>    
    <% end %>   
    <%= link_to '+', new_game_task_path,  {params: {"game_task"=>{ route_id: route.id }}, class: 'btn' } %>
</div>
