<p id="notice"><%= notice %></p>

<h2>Griasti zur "SchnitzelRally"</h2>
<p>Starte eine neue Route oder tritt mit einer SpielID einer bestehenden Route bei. </p>
<div id="map"></div>

<%= button_to 'New Route', new_route_path, {  method: "get", class: 'btn' }  %>

<%= button_to 'Join a Route', join_routes_path, {  method: "get", class: 'btn' } %>
