<% content_for :nav do %>
  <%= render partial: 'layouts/nav_with_back', locals: {title: "Create Route", link: "/"} %>
<% end %>
<div class="card">
  <h2>Create Route</h2>

  <%= render 'form', route: @route %>
</div>