<% content_for :nav do %>
  <%= render partial: 'layouts/nav_in_route', locals: {title: "Route: #{@route.name}"} %>
<% end %>

<div class="card">

  <% if @route.game_state == "planning" %>
    <%= render partial: 'tasks', locals: {route: @route} %>
  <% else %>
    <h2>Ende der Route</h2>
    <p>Du hast die Route <%= @route.name %> erfolgreich absolviert!</p>

    <%= link_to 'zurück zum Hauptmenü', routes_path, {class: 'btn' } %>
  <%end%>

</div>