<% content_for :nav do %>
  <%= render partial: 'layouts/nav_in_route', locals: {title: "Route: #{@route.name}"} %>
<% end %>

<div class="card">
  <p>
    <strong>Name:</strong>
    <%= @route.current_task.name %>
  </p>
  <p> <%= @route.current_task.hint %> </p>
  <%= link_to 'Bin da', routes_path, {class: 'btn' } %>
</div>