<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.current_task.name %>
</p>

<div class="card">
  <p> <%= @route.current_task.hint %> </p>
</div>

<%= link_to 'Bin da', routes_path, {class: 'btn' } %>
