<% content_for :nav do %>
  <%= render partial: 'layouts/nav_in_route', locals: {title: "Route: #{@route.name}"} %>
<% end %>

<h2>Bearbeiten von: <%= @game_task.name %> </h2>

<%= render 'form', game_task: @game_task %>

