<% content_for :nav do %>
  <%= render partial: 'layouts/nav_create_route', locals: {title: "Route: #{@route.name}"} %>
<% end %>
<div class="card">
<h2>Neue Aufgabe</h2>
  <%= render 'form', game_task: @game_task %>
</div>