<% content_for :nav do %>
  <%= render partial: 'layouts/nav_with_back', locals: {title: "Neue Aufgabe", link: "/routes/#{@route.id}/add_task"} %>
<% end %>
<div class="card">
  <%= render "#{@game_task.type}", locals:{ game_task: @game_task } %>
</div>