<% content_for :nav do %>
  <%= render partial: 'layouts/nav_in_route', locals: {title: "New Task"} %>
<% end %>
<div class="card">
  <%= render "#{@game_task.type}", locals:{ game_task: @game_task } %>
</div>