<% content_for :nav do %>
  <%= render partial: 'layouts/nav_in_route', locals: {title: "Route: #{@route.name}"} %>
<% end %>

<div class="card">
  <% if @game_task.state == "hint" %>
    <%= render partial: 'hint', locals: { route: @route, game_task: @game_task } %>
  <% elsif @game_task.state == "task" %>
    <%= render partial: 'task', locals: { route: @route, game_task: @game_task } %>
  <% else %>
    <%= render partial: 'result', locals: { route: @route, game_task: @game_task } %>
  <% end %>
</div>
