.input {
    display: flex;
    flex-direction: column;
    margin-top: $default_margin;
    margin-bottom: $default_margin;
    width: 100%;

    @include tablet {
        width: 70vw;
        max-width: 25em;
    }

    @include desktop {
        width: 30vw;
    }

    input, select {
        height: 22px;
        border-radius: $borderradius;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border: 1px $secondaryColor solid;
        transition: all .3s ease;
        padding: ($default_padding/2) $default_padding;
        margin: 0;
        outline: none;
        max-width: 30em;
        color: $secondaryColor;

        @include tablet {
            max-width: 25em;
        }
    }

    .input-radiobutton {
        margin: $default_margin 0;
        display: flex;
        align-items: center;

        @include mobile {
            margin: $default_margin/2 0;
        }

        input[type='radio'] {
            margin: 0 1rem 0 3rem;
            width: 20px;
            height: 20px;
        }
    }

    &--borderless {
        input {
            border: none;
            padding: ($default_padding/2) $default_padding ($default_padding/2) 0.2rem;
        }
    }

    #user_remember_me {
        width: auto;
    }

    &-remember {
        flex-direction: inherit;
        align-items: center;

        .input-checkbox {
            margin: 0;
            margin-right: ($default_padding)/2;
        }
        
        .input-label {
            font-size: 18px;
        }
    }

    &-label {
        font-family: $roboto;
        font-size: 22px;
        font-weight: 600;
        padding-left: 3px;
        letter-spacing: 1.5px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 5px;

        @include mobile {
            font-size: 17px;
        }
    }

    &-text {

        &:hover, &:focus {
            box-shadow: 0 0 5px $secondaryColor;
        }

    }

    &-select {
        &:hover, &:focus {
            box-shadow: 0 0 5px $secondaryColor;
        }
    }

    .input-label__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    
        .input-range__value {
            margin: 0;
            font-weight: 600;
        }
    }

    &__hint {
        margin: 0;
    }
}

.map__instruction {
    font-family: $roboto;
    font-size: 22px;
    font-weight: 600;
    padding-left: 3px;
    letter-spacing: 1px;
    margin-top: 1.5rem;
    margin-bottom: 10px;

    @include mobile {
        font-size: 17px;
    }
}

//style range
input[type=range] {
    -webkit-appearance: none;
    /* fix for FF unable to apply focus style bug  */
    border: none; 
    background: $backgroundColor;
    /*required for proper track sizing in FF*/
    width: 100%;
    padding: ($default_padding/2) 0.2rem;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 7px;
    background: $backgroundColor2;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: $accentColor;
    margin-top: -6px;
    transition: all .3s ease;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: $backgroundColor2;
}

input[type=range]::-moz-range-track {
    height: 5px;
    background: $backgroundColor2;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $accentColor;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
    outline: none;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: $backgroundColor2;
}

.numbering {
    display: flex;
    justify-content: space-between;
    padding: 0 0.2rem;

    p {
        margin-top: 0;
    }
}