.input {
    display: flex;
    flex-direction: column;
    margin-top: $default_margin;
    margin-bottom: $default_margin;

    input, select {
        height: 22px;
        border-radius: $borderradius;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border: 2px $secondaryColor solid;
        transition: all .3s ease;
        padding: ($default_padding/2) $default_padding;
        outline: none;
        width: 84vw;
        max-width: 30em;
        color: $secondaryColor;
    }

    #user_remember_me {
        width: auto;
    }

    &-remember {
        flex-direction: inherit;
        align-items: center;

        input {
            margin-right: ($default_padding)/2;
        }
    }

    &-label {
        font-family: $inconsolata;
        font-size: 25px;
        font-weight: 600;
        padding-left: 3px;
    }

    &-text {

        &:hover, &:focus {
            box-shadow: 0 0 5px $secondaryColor;
        }

    }

    &-select {
        &:hover, &:focus {
            box-shadow: 0 0 5px $secondaryColor;
        }
    }

    .input-label_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    
        .input-range_value {
            margin: 0;
            font-weight: 600;
        }
        
    }
}

//style range
input[type=range] {
    -webkit-appearance: none;
    /* fix for FF unable to apply focus style bug  */
    border: none; 
    background: $backgroundColor;
    /*required for proper track sizing in FF*/
    width: 100%;
    padding: ($default_padding/2) 0;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 7px;
    background: $backgroundColor2;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: $accentColor;
    margin-top: -6px;
    transition: all .3s ease;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: $backgroundColor2;
}

input[type=range]::-moz-range-track {
    height: 5px;
    background: $backgroundColor2;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $accentColor;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
    outline: none;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: $backgroundColor2;
}

.numbering {
    display: flex;
    justify-content: space-between;

    p {
        margin-top: 0;
    }
}