.card-tasks {
    margin: 2% 0;
    padding: $default_padding;
    background: $backgroundColor2;
    border-radius: $borderradius;
    width: 80vw;
    height: 55vh;

    @include tablet {
        width: 70vw;
    }

    @include desktop {
        width: 60vw;
        @include maxwidthcontainer;
    }
    
    .card-tasks_list {
        padding: 0;

        .task {
            margin: 3% 0;
            padding: $default_padding;
            background: $white;
            border-radius: $borderradius;
    
            .task-header {
                display: flex;
                justify-content: space-between;

                p {
                    margin: 0;
                }
            }

            p {
                margin-bottom: 0;
            }
        }
    }
}
