.card-tasks {
    margin: 2% 0;
    padding: $default_padding/2;
    background: $backgroundColor2;
    border-radius: $borderradius;
    width: 95%;
    height: 55vh;
    overflow-x: scroll;

    @include tablet {
        width: 100%;
        padding: $default_padding;
    }

    @include desktop {
        width: 95%;
        @include maxwidthcontainer;
        padding: $default_padding;
    }

    h3 {
        margin-top: 0;
    }
    
    .card-tasks_list {
        padding: 0;

        .task {
            margin: 3% 0;
            padding: $default_padding;
            background: $white;
            border-radius: $borderradius;
            min-height: 6.5vh;
    
            .task-header {
                display: flex;
                justify-content: space-between;

                p {
                    margin: 0;
                }
            }

            p {
                margin-bottom: 0;
            }

            .divider {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}
