.card__tasks {
    margin: 2% 0;
    padding: $default_padding/2;
    background: $backgroundColor2;
    border-radius: $borderradius;
    width: 95%;
    height: 53vh;
    overflow-x: hidden;

    @include tablet {
        width: 100%;
        padding: $default_padding;
    }

    @include desktop {
        width: 95%;
        @include maxwidthcontainer;
        padding: $default_padding;
    }

    h3 {
        margin-top: 0;
    }

    .tasks__empty {
        margin: 0;
        padding: $default_padding;
    }
    
    .tasks__list {
        padding: 0;

        .task {
            margin: 3% 0;
            padding: $default_padding;
            background: $white;
            border-radius: $borderradius;
            min-height: 6.5vh;
    
            .task__header {
                display: flex;
                justify-content: space-between;

                p {
                    margin: 0;
                }
            }

            p {
                margin-bottom: 0;
            }

            .links__divider {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}

.photos__container {

    .photo {

        img {
            max-width: 400px;
            height: auto;
            max-height: 400px;
    
            @include mobile {
                max-width: 80vw;
                height: auto;
                max-height: 200px;
            }
        }
    }
}

