.card-home {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .intro {
        width: 100%;
        margin: auto;
        padding-bottom: $default_padding;

        .intro_title {
            span {
                text-transform: uppercase;
                font-weight: 800;
                font-size: 2rem;
                display: block;
                margin-top: 10px;;
            }
        }

        .intro_text {
            margin-top: $default_margin*2;
            line-height: 1.3;
            font-size: 1.4rem;
            font-family: $inconsolata;
        }
    }

    .buttons {
        .button_to {
            margin-top: $default_margin;
            margin-bottom: $default_margin;
        }
    }

    .player {
        display: flex;
        flex-direction: column;
        align-items: center;

        .player_avatar {
            img {
                width: 80px;
            }
        }

        .player_name {
            font-weight: 800;
            font-size: 1.3rem;
        }

        a {
            align-self: flex-end;
        }
    }
}