<ul class="nav__header">
    <li class="header__left">
        <a href="/" class="logo__link" alt="Logo" >
            <%= display_svg("logo") %>
        </a>
    </li>
    <li class="header__right">
        <% if user_signed_in? %>
            <div class="sidebar__trigger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        <% else %>
            <%= link_to "Login", new_user_session_path %>
            <%= display_svg("login") %>
        <% end %>

        <div class="sidebar__trigger sidebar__trigger--hidden">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </li>
</ul>