<ul class="nav_header">
    <li class="nav_header_left">
        <a href="<%= link %>" class="back-arrow_link" alt="Logo" >
            <%= display_svg("back-arrow") %>
        </a>
        <p class="nav_header_title"> <%= title %> </p>
    </li>
    <li class="nav_header_right">
        <div class="sidebar_trigger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </li>
</ul>