<ul class="nav__header">
    <li class="header__left">
        <a href="<%= link %>" class="back-arrow__link" alt="Logo" >
            <%= display_svg("back-arrow") %>
        </a>
        <p class="header__title"> <%= title %> </p>
    </li>
    <li class="header__right">
        <div class="sidebar__trigger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </li>
</ul>